<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ file.filename }} - File Details</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/file_detail.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>{{ file.filename }}</h1>

      <a class="back-link" href="/my_fakedrive">← Back to FakeDrive</a>

      <div class="comment-box">
        <h2>Comments</h2>

        {% if comments %} {% for comment in comments %}
        <div class="comment">
          <strong>{{ comment.username}}</strong>
          <p>{{ comment.message}}</p>

          {% if session.username == comment.username %} {% endif %}
        </div>
        {% endfor %} {% else %}
        <p>No comments yet.</p>
        {% endif %}
      </div>

      {% if session.username %}
      <div class="comment-form">
        <h3>Leave a Comment</h3>
        <form action="/file/{{ file.id }}/comment" method="POST">
          <textarea name="message" required></textarea>
          <br />
          <button type="submit">Post Comment</button>
        </form>
      </div>
      {% else %}
      <p><a href="/login">Log in</a> to leave a comment.</p>
      {% endif %}
    </div>
  </body>
</html>
