<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FakeDrive Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/login.css') }}"
    />
  </head>
  <body>
    <nav>
      <div>
        <strong>FakeDrive</strong>
      </div>
      <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
      </div>
    </nav>

    <div class="container">
      <h2>Login to FakeDrive</h2>
      <form action="/authentication" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <input type="submit" value="Log In" />
      </form>
      <div class="note">
        Don't have an account? <a href="/signup">Sign up here</a>.
      </div>
    </div>
  </body>
</html>
