<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FakeDrive</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/main.css') }}"
    />
  </head>
  <body>
    <nav>
      <div>
        <strong>FakeDrive</strong>
      </div>
      <div>
        {% if session.get('username') %}
        <a href="/my_fakedrive">My FakeDrive</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/about">About</a>
        <a href="/login">Login</a>

        {% endif %}
      </div>
    </nav>

    <div class="description">
      <p><strong>Welcome to FakeDrive!</strong></p>
      <p>
        This is your personal cloud storage space. Upload, download, and manage
        your files easily from anywhere!
      </p>
      <p>
        <strong
          >To use this app, please <a href="/login">log in</a> first.</strong
        >
      </p>
      <p>
        If you don't have an account yet, please
        <a href="/signup" class="signup-link">sign up</a> to get started!
      </p>
    </div>
  </body>
</html>
