<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My FakeDrive</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/my_fakedrive.css') }}"
    />
  </head>
  <body>
    <nav>
      <div><strong>FakeDrive</strong></div>
      <div>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>

    <div class="file-buttons">
      <a href="/my_fakedrive">All Files</a>
      <a href="/my_files">My Files</a>
    </div>

    <div class="file-list">
      <form
        method="GET"
        action="/my_fakedrive"
        style="text-align: center; margin-bottom: 20px"
      >
        <input
          type="text"
          name="q"
          placeholder="Search public files..."
          value="{{ request.args.get('q', '') }}"
        />
        <button type="submit">Search</button>
      </form>
      <h2>
        {% if view == "all" %} All Public Files {% else %} Your Files {% endif
        %}
      </h2>
      {% if files %}
      <table>
        <thead>
          <tr>
            <th>Filename</th>
            {% if view == "all" %}
            <th>Owner</th>
            {% endif %}
            <th class="download-header">Download</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
          <tr>
            <td>
              <a href="/file/{{ file.id }}" class="file-link">
                {{ file.filename }}
              </a>
            </td>
            {% if view == "all" %}
            <td>{{ file[2] }}</td>
            {# or file.username #} {% endif %}
            <td class="download-cell">
              <a href="/download/{{ file.id }}">Download</a>
              <a href="/delete/{{ file.id }}">Delete</a>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No files to show.</p>
      {% endif %}
    </div>
    <a class="upload-btn" href="/upload">📤 Upload</a>
  </body>
</html>
