<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File - FakeDrive</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/upload.css') }}"
    />
</head>
<body>
    <nav>
        <div>
            <strong>FakeDrive</strong>
        </div>
        <div>
            <a href="/">Home</a>
            <a href="/my_Fakedrive">My FakeDrive</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>

    <div class="upload-container">
        <div class="upload-box">
            <h2>Upload a File</h2>
                <form action="/upload_file" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" required><br><br>
                    <label for="visibility">Who can see this file?</label>
                    <select name="visibility" id="visibility">
                        <option value="private">Only Me</option>
                        <option value="public">Everyone</option>
                    </select><br><br>
                    <button type="submit">Upload</button>
                </form>
        </div>
    </div>
</body>
</html>
